<div class="nav">
  <div class="container">
    <ul>
      <li>Portfolio</li>
      <li>Blog</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<div class="header">
  <div class="container">
    <h1>Lawrence Lin</h1>
    <p>Full-stack Web Developer</p>
    <a class="btn" href="#">View my work</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>
    <a href='https://github.com/lawwwlin' target='_blank'><i class="fab fa-github"></i></a>
    <a href='https://www.linkedin.com/in/lawrence-lin-vancouver/' target='_blank'><i class="fab fa-linkedin"></i></a>
    &copy; Lawrence Lin 2021</p>
  </div>
</div>