<div class='projects'>
  <div class="header">
    <div class="container">
      <h1>Projects</h1>
      <p>Sample Projects from Codecademy</p>
    </div>
  </div>

  <div class='main'>
    <h1>Projects</h1>
    <p>Sample Projects from Codecademy</p>
  </div>
</div>