<div class='about'>
  <div class="header">
    <div class="container">
      <h1>About Me</h1>
    </div>
  </div>

  <div class='main'>
    <div class='column'>
    <img src='https://scontent.fyvr1-1.fna.fbcdn.net/v/t31.18172-8/12471343_10208183833264029_123155698953807570_o.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=OhQOnOfyyXYAX-oCxhr&_nc_ht=scontent.fyvr1-1.fna&oh=d691a180508539ecb717baeb404ed2ae&oe=617CCC2E' alt='Image of Lawrence Lin'>
      <h3>Lawrence Lin</h3>
      <div class='about-text'>
      My coding journey started when I was pursuing an undergraduate degree in Mathematics. I had experience with Python, Java and C++ from taking Computer Science courses and exposure to topics such as basic algorithms and data structures.
            <br /><br />
            I have strong critical thinking and problem solving skills from my Mathematics background, and after graduation, I pursued my interest in programming by taking the Lighthouse Labs web development bootcamp.
            <br /><br />
            From the bootcamp, I experienced various aspects of web development and learned the basic skills to contribute or develop a web application.
            <br /><br />
            These are some of the tech stacks that I've used:
            <ul>
              <li>JavaScript</li>
              <li>React</li>
              <li>Node.js</li>
              <li>Express.js</li>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>ActiveRecord</li>
            </ul>
      </div>
    </div>
  </div>
</div>