<div class='contact'>
  <div class="header">
    <div class="container">
      <h1>Contact me</h1>
    </div>
  </div>

  <div class='main'>
    <div class='column'>
      <a href='https://github.com/lawwwlin' target='_blank'><i class="fab fa-github"></i></a>
      <a href='https://www.linkedin.com/in/lawrence-lin-vancouver/' target='_blank'><i class="fab fa-linkedin"></i></a>
      ... and more to come
  </div>
</div>